# Ignore OSX system files
.DS_Store
.sass-cache

# Ignore netbeans project files
nbproject

# Ignore Vim temporary files
*~
*.swp
*.swo

# Ignore vagrant and composer downloads
vendor
.vagrant
bin/*
src
spec
